In [6]:
import pandas as pd
df = pd.read_csv('iris.csv')
df

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
0     0.22  0.63  0.08  0.04     Iris-setosa
1     0.17  0.42  0.35  0.04     Iris-setosa
2     0.11  0.50  0.13  0.04     Iris-setosa
3     0.08  0.46  0.26  0.04     Iris-setosa
4     0.19  0.67  0.44  0.04     Iris-setosa
..     ...   ...   ...   ...             ...
145   0.67  0.42  0.54  0.92  Iris-virginica
146   0.56  0.21  0.69  0.46  Iris-virginica
147   0.61  0.42   NaN  0.79  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

[150 rows x 5 columns]

In [2]:
df['種類'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [4]:
df['種類'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: 種類, dtype: int64

In [5]:
df.isnull()

     がく片長さ   がく片幅   花弁長さ    花弁幅     種類
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False   True  False  False
148  False  False  False  False  False
149  False  False  False  False  False

[150 rows x 5 columns]

In [8]:
df.isnull().any(axis=0)

がく片長さ     True
がく片幅      True
花弁長さ      True
花弁幅       True
種類       False
dtype: bool

In [7]:
df.sum()

がく片長さ                                                62.29
がく片幅                                                 65.62
花弁長さ                                                 72.04
花弁幅                                                  66.22
種類       Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [8]:
df2 = df.dropna(how='any', axis=0)

In [13]:
df2 = df.fillna(df.mean())

C:\Users\Admin\AppData\Local\Temp\ipykernel_19736\4150020177.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2 = df.fillna(df.mean())

In [15]:
xcol = ['がく片長さ','がく片幅','花弁長さ','花弁幅']
x = df2[xcol]
t = df2['種類']

In [26]:
from sklearn import tree
model = tree.DecisionTreeClassifier(max_depth=2, random_state=0)

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size=0.3, random_state=0)

In [28]:
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.9555555555555556

In [23]:
import pickle
with open('irismodel.pkl', 'wb') as f:
    pickle.dump(model,f)

In [29]:
model.tree_.feature

array([ 3, -2,  3,  0, -2, -2,  2, -2, -2], dtype=int64)

In [30]:
model.tree_.threshold

array([ 0.275     , -2.        ,  0.69      ,  0.78      , -2.        ,
       -2.        ,  0.48500001, -2.        , -2.        ])